<div class="content">
  <div class="form-fram">
    <div class="form-fram-header"></div>
    <div class="my-row">
    <div class="w-25">
      <label for="LocationName">Location Name</label>
    </div>
    <div class="w-75">
      <input class="input" type="text" id="LocationName" name="lname" placeholder="Your location name..">
    </div>
  </div>

  <div class="my-row">
    <div class="w-25">
      <label for="LocationName">Location on map</label>
    </div>
    <div class="w-75">
      <app-location-on-map></app-location-on-map>
    </div>
  </div>

  <div class="my-row">
    <div class="w-25">
      <label for="LocationName">Location type</label>
    </div>
    <div class="w-75">
      <app-location-type></app-location-type>
    </div>
  </div>

  <div class="my-row">
    <div class="w-25">
      <label for="LocationName">Logo</label>
    </div>
    <div class="w-75">
      <app-upload-logo></app-upload-logo>
    </div>
  </div>


</div>

  <div class="d-rtl">
    <button class="save-button">Save</button>
    <button class="cancel-button" (click)="writeFile()">Cancel</button>
  </div>


</div>
