/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: calibri;
  src: url("./assets/font/CalibriRegular.ttf");
}

body {
  background-color: rgb(233, 239, 246);
}
* {
  font-family: calibri;
}
